---
---

@import "{{ site.theme }}";

.page-header{
  color:#ffff;
  background-color:#A067AB;
  background-image:linear-gradient(120deg,#5073B8,#A067AB);
  }

body {
  background: #080808;
}
  
.credits.right, .credits.left {
  display: none;
}

.markdown-body {
  max-width: 800px;
  font-size: 16px;
}

.markdown-body p {
  font-size: 16px;
  line-height: 1.9em;
  margin-bottom: 1.2em;
}

.markdown-body li {
  line-height: 1.9em;
}

input.task-list-item-checkbox {
  margin-right: 4px;
}

h1,
h2,
h3,
h4,
h5,
blockquote {
  font-family: raleway, fira code, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida,
    "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
